In [1]:
import os
from dotenv import load_dotenv
load_dotenv()
os.environ['OPENAI_API_KEY'] = os.getenv("OPENAI_API_KEY")
os.environ["LANGCHAIN_TRACING_V2"]="true"
os.environ["LANGCHAIN_API_KEY"] = os.getenv("LANGCHAIN_API_KEY")

In [2]:
from langchain_community.utilities.sql_database import SQLDatabase
db_user = "root"
db_password = "root"
db_host = "localhost"  
db_port = "3306"  
db_name = "classicmodels"
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

In [3]:
print(db.dialect)

mysql

In [4]:
print(db.get_usable_table_names())

['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products']

In [5]:
print(db.table_info)

CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE employees (
	`employeeNumber` INTEGER NOT NULL,
	`lastName` VARCHAR(50) NOT NULL,
	`firstName` VARCHAR(50) NOT NULL,
	extension VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	`officeCode` VARCHAR(10) NOT NULL,
	`reportsTo` INTEGER,
	`jobTitle` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`employeeNumber`),
	CONSTRAINT employees_ibfk_1 FOREIGN KEY(`reportsTo`) REFERENCES employees (`employeeNumber`),
	CONSTRAINT employees_ibfk_2 FOREIGN KEY(`officeCode`) REFERENCES offices (`officeCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from employees table:
employeeNumber	lastName	firstName	extension	email	officeCode	reportsTo	jobTitle
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	None	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
*/


CREATE TABLE offices (
	`officeCode` VARCHAR(10) NOT NULL,
	city VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	state VARCHAR(50),
	country VARCHAR(50) NOT NULL,
	`postalCode` VARCHAR(15) NOT NULL,
	territory VARCHAR(10) NOT NULL,
	PRIMARY KEY (`officeCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from offices table:
officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
*/


CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/


CREATE TABLE productlines (
	`productLine` VARCHAR(50) NOT NULL,
	`textDescription` VARCHAR(4000),
	`htmlDescription` MEDIUMTEXT,
	image MEDIUMBLOB,
	PRIMARY KEY (`productLine`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from productlines table:
productLine	textDescription	htmlDescription	image
Classic Cars	Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking	None	None
Motorcycles	Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends 	None	None
Planes	Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o	None	None
*/


CREATE TABLE products (
	`productCode` VARCHAR(15) NOT NULL,
	`productName` VARCHAR(70) NOT NULL,
	`productLine` VARCHAR(50) NOT NULL,
	`productScale` VARCHAR(10) NOT NULL,
	`productVendor` VARCHAR(50) NOT NULL,
	`productDescription` TEXT NOT NULL,
	`quantityInStock` SMALLINT NOT NULL,
	`buyPrice` DECIMAL(10, 2) NOT NULL,
	`MSRP` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`productCode`),
	CONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/

In [6]:
from langchain.chains import create_sql_query_chain
from langchain_openai import ChatOpenAI
llm = ChatOpenAI(model="gpt-3.5-turbo-0125", temperature=0)
generate_query = create_sql_query_chain(llm , db)
query = generate_query.invoke({"question": "what is price of `1968 Ford Mustang`"})
query

"SELECT `buyPrice`, `MSRP`\nFROM products\nWHERE `productName` = '1968 Ford Mustang'\nLIMIT 1;"

In [7]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
execute_query_tool = QuerySQLDataBaseTool(db = db)
execute_query_tool.invoke(query)

"[(Decimal('95.34'), Decimal('194.57'))]"

In [8]:
 from operator import itemgetter

 from langchain_core.output_parsers import StrOutputParser
 from langchain_core.prompts import PromptTemplate
 from langchain_core.runnables import RunnablePassthrough

 answer_prompt = PromptTemplate.from_template(
     """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

 Question: {question}
 SQL Query: {query}
 SQL Result: {result}
 Answer: """
 )

 rephrase_answer = answer_prompt | llm | StrOutputParser()

 chain = (
     RunnablePassthrough.assign(query=generate_query).assign(
         result=itemgetter("query") | execute_query_tool
     )
     | rephrase_answer
 )

 chain.invoke({"question": "what is price of `1968 Ford Mustang"})
#On invoking the chain , question -> generate_query[(llm , db) chain] generates query and stores it in query variable -> itemgetter extracts the query item and passes it to execute_query_tool which executes the query , generates the result and stores it in result variable
#Now there is (question , query , result) inside the chain -> rephrase_answer
#Inside rephrase_answer chain , (question ,query ,answer) -> prompt template -> llm -> output parser -> output

'The price of the 1968 Ford Mustang is $95.34.'

In [8]:
chain.invoke({"question": "How many customers have an order count greater than 5"})

'There are 2 customers who have an order count greater than 5.'

In [9]:
chain.invoke({"question": "Find the top 5 products with the highest total sales revenue"})

'The top 5 products with the highest total sales revenue are:\n1. 1992 Ferrari 360 Spider red - $276,839.98\n2. 2001 Ferrari Enzo - $190,755.86\n3. 1952 Alpine Renault 1300 - $190,017.96\n4. 2003 Harley-Davidson Eagle Drag Bike - $170,686.00\n5. 1968 Ford Mustang - $161,531.48'

In [10]:
chain.invoke({"question": "List the top 3 countries with the highest number of orders"})

'The top 3 countries with the highest number of orders are:\n1. USA with 112 orders\n2. France with 37 orders\n3. Spain with 36 orders'

#Few Shot Prompting

In [9]:
examples = [
    {
  "input": "Find the total number of orders placed by customers in the USA.",
  "query": "SELECT COUNT(*) FROM orders o JOIN customers c ON o.customerNumber = c.customerNumber WHERE c.country = 'USA';"
},
{
  "input": "Retrieve the names and cities of all employees who work in the 'EMEA' territory.",
  "query": "SELECT firstName, lastName, city FROM employees e JOIN offices o ON e.officeCode = o.officeCode WHERE o.territory = 'EMEA';"
},
{
  "input": "List all products that have more than 1000 units in stock.",
  "query": "SELECT productName FROM products WHERE quantityInStock > 1000;"
},
{
  "input": "Get the details of the order with the highest total amount.",
  "query": "SELECT o.orderNumber, SUM(od.quantityOrdered * od.priceEach) AS totalAmount FROM orders o JOIN orderdetails od ON o.orderNumber = od.orderNumber GROUP BY o.orderNumber ORDER BY totalAmount DESC LIMIT 1;"
},
{
  "input": "Find the average credit limit of customers in Germany.",
  "query": "SELECT AVG(creditLimit) FROM customers WHERE country = 'Germany';"
},
{
  "input": "List all orders that were shipped after the required date.",
  "query": "SELECT * FROM orders WHERE shippedDate > requiredDate;"
},
{
  "input": "Show the product names and their respective vendors for all products in the 'Planes' product line.",
  "query": "SELECT productName, productVendor FROM products WHERE productLine = 'Planes';"
},
{
  "input": "Get the number of employees who report to the employee with employee number 1002.",
  "query": "SELECT COUNT(*) FROM employees WHERE reportsTo = 1002;"
},
{
  "input": "Retrieve the details of all payments made before January 1, 2023.",
  "query": "SELECT * FROM payments WHERE paymentDate < '2023-01-01';"
}

]

In [10]:
from langchain_community.vectorstores import FAISS
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_openai import OpenAIEmbeddings

example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,
    OpenAIEmbeddings(),
    FAISS,
    k=5,
    input_keys=["input"],
)

example_selector.select_examples({"input": "How many customers with credit limit more than 50000?"})

[{'input': 'Find the average credit limit of customers in Germany.',
  'query': "SELECT AVG(creditLimit) FROM customers WHERE country = 'Germany';"},
 {'input': 'Find the total number of orders placed by customers in the USA.',
  'query': "SELECT COUNT(*) FROM orders o JOIN customers c ON o.customerNumber = c.customerNumber WHERE c.country = 'USA';"},
 {'input': 'List all products that have more than 1000 units in stock.',
  'query': 'SELECT productName FROM products WHERE quantityInStock > 1000;'},
 {'input': 'Retrieve the details of all payments made before January 1, 2023.',
  'query': "SELECT * FROM payments WHERE paymentDate < '2023-01-01';"},
 {'input': 'Get the number of employees who report to the employee with employee number 1002.',
  'query': 'SELECT COUNT(*) FROM employees WHERE reportsTo = 1002;'}]

In [11]:
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder,FewShotChatMessagePromptTemplate,PromptTemplate
example_prompt = ChatPromptTemplate.from_messages(
     [
         ("human", "{input}\nSQLQuery:"),
         ("ai", "{query}"),
     ]
 )
few_shot_prompt = FewShotChatMessagePromptTemplate(
     example_prompt=example_prompt,
     example_selector=example_selector,
     input_variables=["input","top_k"],
 )
print(few_shot_prompt.format(input="How many customers with credit limit more than 50000?"))

Human: Find the average credit limit of customers in Germany.
SQLQuery:
AI: SELECT AVG(creditLimit) FROM customers WHERE country = 'Germany';
Human: Find the total number of orders placed by customers in the USA.
SQLQuery:
AI: SELECT COUNT(*) FROM orders o JOIN customers c ON o.customerNumber = c.customerNumber WHERE c.country = 'USA';
Human: List all products that have more than 1000 units in stock.
SQLQuery:
AI: SELECT productName FROM products WHERE quantityInStock > 1000;
Human: Retrieve the details of all payments made before January 1, 2023.
SQLQuery:
AI: SELECT * FROM payments WHERE paymentDate < '2023-01-01';
Human: Get the number of employees who report to the employee with employee number 1002.
SQLQuery:
AI: SELECT COUNT(*) FROM employees WHERE reportsTo = 1002;

In [12]:
def few_shot_prompt_generate_template(question):
        examples = [
        {
    "input": "Find the total number of orders placed by customers in the USA.",
    "query": "SELECT COUNT(*) FROM orders o JOIN customers c ON o.customerNumber = c.customerNumber WHERE c.country = 'USA';"
    },
    {
    "input": "Retrieve the names and cities of all employees who work in the 'EMEA' territory.",
    "query": "SELECT firstName, lastName, city FROM employees e JOIN offices o ON e.officeCode = o.officeCode WHERE o.territory = 'EMEA';"
    },
    {
    "input": "List all products that have more than 1000 units in stock.",
    "query": "SELECT productName FROM products WHERE quantityInStock > 1000;"
    },
    {
    "input": "Get the details of the order with the highest total amount.",
    "query": "SELECT o.orderNumber, SUM(od.quantityOrdered * od.priceEach) AS totalAmount FROM orders o JOIN orderdetails od ON o.orderNumber = od.orderNumber GROUP BY o.orderNumber ORDER BY totalAmount DESC LIMIT 1;"
    },
    {
    "input": "Find the average credit limit of customers in Germany.",
    "query": "SELECT AVG(creditLimit) FROM customers WHERE country = 'Germany';"
    },
    {
    "input": "List all orders that were shipped after the required date.",
    "query": "SELECT * FROM orders WHERE shippedDate > requiredDate;"
    },
    {
    "input": "Show the product names and their respective vendors for all products in the 'Planes' product line.",
    "query": "SELECT productName, productVendor FROM products WHERE productLine = 'Planes';"
    },
    {
    "input": "Get the number of employees who report to the employee with employee number 1002.",
    "query": "SELECT COUNT(*) FROM employees WHERE reportsTo = 1002;"
    },
    {
    "input": "Retrieve the details of all payments made before January 1, 2023.",
    "query": "SELECT * FROM payments WHERE paymentDate < '2023-01-01';"
    }

    ]

        from langchain_community.vectorstores import FAISS
        from langchain_core.example_selectors import SemanticSimilarityExampleSelector
        from langchain_openai import OpenAIEmbeddings

        example_selector = SemanticSimilarityExampleSelector.from_examples(
            examples,
            OpenAIEmbeddings(),
            FAISS,
            k=5,
            input_keys=["input"],
        )

        example_selector.select_examples({"input": question}) 

        from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder,FewShotChatMessagePromptTemplate,PromptTemplate
        example_prompt = ChatPromptTemplate.from_messages(
                [
                    ("human", "{input}\nSQLQuery:"),
                    ("ai", "{query}"),
                ]
            )
        few_shot_prompt = FewShotChatMessagePromptTemplate(
                example_prompt=example_prompt,
                example_selector=example_selector,
                input_variables=["input","top_k"],
            )
        few_shot_prompt.format(input=question)
        # print(few_shot_prompt.format(input=question))
        # print(type(few_shot_prompt))

In [13]:
few_shot_prompt_generate_template("How many customers with credit limit more than 50000")

In [14]:
context = db.get_context()
print(list(context))
print(context["table_info"])

['table_info', 'table_names']

CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE employees (
	`employeeNumber` INTEGER NOT NULL,
	`lastName` VARCHAR(50) NOT NULL,
	`firstName` VARCHAR(50) NOT NULL,
	extension VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	`officeCode` VARCHAR(10) NOT NULL,
	`reportsTo` INTEGER,
	`jobTitle` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`employeeNumber`),
	CONSTRAINT employees_ibfk_1 FOREIGN KEY(`reportsTo`) REFERENCES employees (`employeeNumber`),
	CONSTRAINT employees_ibfk_2 FOREIGN KEY(`officeCode`) REFERENCES offices (`officeCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from employees table:
employeeNumber	lastName	firstName	extension	email	officeCode	reportsTo	jobTitle
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	None	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
*/


CREATE TABLE offices (
	`officeCode` VARCHAR(10) NOT NULL,
	city VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	state VARCHAR(50),
	country VARCHAR(50) NOT NULL,
	`postalCode` VARCHAR(15) NOT NULL,
	territory VARCHAR(10) NOT NULL,
	PRIMARY KEY (`officeCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from offices table:
officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
*/


CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/


CREATE TABLE productlines (
	`productLine` VARCHAR(50) NOT NULL,
	`textDescription` VARCHAR(4000),
	`htmlDescription` MEDIUMTEXT,
	image MEDIUMBLOB,
	PRIMARY KEY (`productLine`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from productlines table:
productLine	textDescription	htmlDescription	image
Classic Cars	Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking	None	None
Motorcycles	Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends 	None	None
Planes	Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o	None	None
*/


CREATE TABLE products (
	`productCode` VARCHAR(15) NOT NULL,
	`productName` VARCHAR(70) NOT NULL,
	`productLine` VARCHAR(50) NOT NULL,
	`productScale` VARCHAR(10) NOT NULL,
	`productVendor` VARCHAR(50) NOT NULL,
	`productDescription` TEXT NOT NULL,
	`quantityInStock` SMALLINT NOT NULL,
	`buyPrice` DECIMAL(10, 2) NOT NULL,
	`MSRP` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`productCode`),
	CONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/

In [15]:
final_prompt = ChatPromptTemplate.from_messages(
     [
         ("system", "You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.\n Here is the relevant table info: {table_info}\n\nBelow are a number of examples of questions and their corresponding SQL queries."),
         few_shot_prompt,
         ("human", "{input}"),
     ]
 )
print(final_prompt.format(input="How many products are there?",table_info=context["table_info"]))

System: You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.
 Here is the relevant table info:
CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE employees (
	`employeeNumber` INTEGER NOT NULL,
	`lastName` VARCHAR(50) NOT NULL,
	`firstName` VARCHAR(50) NOT NULL,
	extension VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	`officeCode` VARCHAR(10) NOT NULL,
	`reportsTo` INTEGER,
	`jobTitle` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`employeeNumber`),
	CONSTRAINT employees_ibfk_1 FOREIGN KEY(`reportsTo`) REFERENCES employees (`employeeNumber`),
	CONSTRAINT employees_ibfk_2 FOREIGN KEY(`officeCode`) REFERENCES offices (`officeCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from employees table:
employeeNumber	lastName	firstName	extension	email	officeCode	reportsTo	jobTitle
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	None	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
*/


CREATE TABLE offices (
	`officeCode` VARCHAR(10) NOT NULL,
	city VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	state VARCHAR(50),
	country VARCHAR(50) NOT NULL,
	`postalCode` VARCHAR(15) NOT NULL,
	territory VARCHAR(10) NOT NULL,
	PRIMARY KEY (`officeCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from offices table:
officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
*/


CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/


CREATE TABLE productlines (
	`productLine` VARCHAR(50) NOT NULL,
	`textDescription` VARCHAR(4000),
	`htmlDescription` MEDIUMTEXT,
	image MEDIUMBLOB,
	PRIMARY KEY (`productLine`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from productlines table:
productLine	textDescription	htmlDescription	image
Classic Cars	Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking	None	None
Motorcycles	Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends 	None	None
Planes	Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o	None	None
*/


CREATE TABLE products (
	`productCode` VARCHAR(15) NOT NULL,
	`productName` VARCHAR(70) NOT NULL,
	`productLine` VARCHAR(50) NOT NULL,
	`productScale` VARCHAR(10) NOT NULL,
	`productVendor` VARCHAR(50) NOT NULL,
	`productDescription` TEXT NOT NULL,
	`quantityInStock` SMALLINT NOT NULL,
	`buyPrice` DECIMAL(10, 2) NOT NULL,
	`MSRP` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`productCode`),
	CONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/

Below are a number of examples of questions and their corresponding SQL queries.
Human: List all products that have more than 1000 units in stock.
SQLQuery:
AI: SELECT productName FROM products WHERE quantityInStock > 1000;
Human: Show the product names and their respective vendors for all products in the 'Planes' product line.
SQLQuery:
AI: SELECT productName, productVendor FROM products WHERE productLine = 'Planes';
Human: Find the total number of orders placed by customers in the USA.
SQLQuery:
AI: SELECT COUNT(*) FROM orders o JOIN customers c ON o.customerNumber = c.customerNumber WHERE c.country = 'USA';
Human: Get the number of employees who report to the employee with employee number 1002.
SQLQuery:
AI: SELECT COUNT(*) FROM employees WHERE reportsTo = 1002;
Human: Find the average credit limit of customers in Germany.
SQLQuery:
AI: SELECT AVG(creditLimit) FROM customers WHERE country = 'Germany';
Human: How many products are there?

In [16]:
generate_query = create_sql_query_chain(llm, db,final_prompt)
chain = (
 RunnablePassthrough.assign(query=generate_query).assign(
     result=itemgetter("query") | execute_query_tool
 )
 | rephrase_answer
 )
chain.invoke({"question": "How many customers with credit limit more than 50000"})

'There are 85 customers with a credit limit greater than 50000.'

In [15]:
from langchain.chains.sql_database.prompt import SQL_PROMPTS

list(SQL_PROMPTS)

['crate',
 'duckdb',
 'googlesql',
 'mssql',
 'mysql',
 'mariadb',
 'oracle',
 'postgresql',
 'sqlite',
 'clickhouse',
 'prestodb']

#Exploring SQL Prompt Templates

In [23]:
from langchain.chains import create_sql_query_chain

chain = create_sql_query_chain(llm, db)
chain.get_prompts()[0].pretty_print()

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

In [24]:
prompt_with_context = chain.get_prompts()[0].partial(table_info=context["table_info"])
print(prompt_with_context.pretty_repr())

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:

CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE employees (
	`employeeNumber` INTEGER NOT NULL,
	`lastName` VARCHAR(50) NOT NULL,
	`firstName` VARCHAR(50) NOT NULL,
	extension VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	`officeCode` VARCHAR(10) NOT NULL,
	`reportsTo` INTEGER,
	`jobTitle` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`employeeNumber`),
	CONSTRAINT employees_ibfk_1 FOREIGN KEY(`reportsTo`) REFERENCES employees (`employeeNumber`),
	CONSTRAINT employees_ibfk_2 FOREIGN KEY(`officeCode`) REFERENCES offices (`officeCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from employees table:
employeeNumber	lastName	firstName	extension	email	officeCode	reportsTo	jobTitle
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	None	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
*/


CREATE TABLE offices (
	`officeCode` VARCHAR(10) NOT NULL,
	city VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	state VARCHAR(50),
	country VARCHAR(50) NOT NULL,
	`postalCode` VARCHAR(15) NOT NULL,
	territory VARCHAR(10) NOT NULL,
	PRIMARY KEY (`officeCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from offices table:
officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
*/


CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/


CREATE TABLE productlines (
	`productLine` VARCHAR(50) NOT NULL,
	`textDescription` VARCHAR(4000),
	`htmlDescription` MEDIUMTEXT,
	image MEDIUMBLOB,
	PRIMARY KEY (`productLine`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from productlines table:
productLine	textDescription	htmlDescription	image
Classic Cars	Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking	None	None
Motorcycles	Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends 	None	None
Planes	Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o	None	None
*/


CREATE TABLE products (
	`productCode` VARCHAR(15) NOT NULL,
	`productName` VARCHAR(70) NOT NULL,
	`productLine` VARCHAR(50) NOT NULL,
	`productScale` VARCHAR(10) NOT NULL,
	`productVendor` VARCHAR(50) NOT NULL,
	`productDescription` TEXT NOT NULL,
	`quantityInStock` SMALLINT NOT NULL,
	`buyPrice` DECIMAL(10, 2) NOT NULL,
	`MSRP` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`productCode`),
	CONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/

Question: {input}

#Dynamic Relevant Table Selection

In [80]:
from operator import itemgetter
from langchain.chains.openai_tools import create_extraction_chain_pydantic
from langchain_core.pydantic_v1 import BaseModel, Field
from typing import List
import pandas as pd

def get_table_details():
    # Read the CSV file into a DataFrame
    table_description = pd.read_csv("classicmodels_table_descriptions.csv")
    table_docs = []

    # Iterate over the DataFrame rows to create Document objects
    table_details = ""
    for index, row in table_description.iterrows():
        table_details = table_details + "Table Name:" + row['Table'] + "\n" + "Table Description:" + row['Description'] + "\n\n"

    return table_details


class Table(BaseModel):
    """Table in SQL database."""

    name: str = Field(description="Name of table in SQL database.")

# table_names = "\n".join(db.get_usable_table_names())
table_details = get_table_details()
print(table_details)

Table Name:productlines
Table Description:Contains information about various product lines, including text descriptions, HTML formatted descriptions, and images. Each product line categorizes a group of products and is identified by a unique product line code.

Table Name:products
Table Description:Stores details of individual products offered by the company. Each product is associated with a product line, has a unique product code, and includes attributes such as name, scale, vendor, description, quantity in stock, buying price, and Manufacturer's Suggested Retail Price (MSRP).

Table Name:offices
Table Description:Contains information about the company's offices, including office codes, location details (city, state, country), contact numbers, and address details. Each office is uniquely identified by an office code.

Table Name:employees
Table Description:Stores data about employees, including their employee numbers, names, job titles, contact information, and office codes. It also includes a self-referencing foreign key 'reportsTo' that identifies the employee's manager.

Table Name:customers
Table Description:Holds customer information, including names, contact details, addresses, and associated sales representatives (referenced by employee number). It also tracks the customer's credit limit, which is used for financial operations.

Table Name:payments
Table Description:Records payments made by customers, capturing the customer number, payment date, payment amount, and check number. Each payment entry is linked to a specific customer.

Table Name:orders
Table Description:Documents customer orders, including the order date, required delivery date, shipping date, status, and any comments. Each order is associated with a specific customer, and the orders are uniquely identified by an order number.

Table Name:orderdetails
Table Description:Contains details of the products ordered, including the order number, product code, quantity ordered, price per item, and the order line number. This table links specific products to their respective orders.

In [90]:
#Remember to include ALL POTENTIALLY RELEVANT tables, even if you're not sure that they're needed.
#Using create_extraction_chain_pydantic
# Construct the prompt
table_details_prompt = f"""Given the following SQL tables:

{table_details}

Return the names of ALL the SQL tables that MIGHT be relevant to the user's question. 
Remember to include ALL POTENTIALLY RELEVANT tables, even if you're not sure that they're needed.
User's question: "{input}"

"""

# Create the table extraction chain
table_chain = create_extraction_chain_pydantic(Table, llm, system_message=table_details_prompt)

# Invoke the chain with the user input
tables = table_chain.invoke({"input": "Top 5 products with highest sales revenue"})
print(tables)

[Table(name='productlines'), Table(name='products'), Table(name='orders'), Table(name='orderdetails'), Table(name='customers'), Table(name='payments')]

In [91]:
#Using Pydantic Tool parser
from langchain_core.output_parsers.openai_tools import PydanticToolsParser
from langchain_core.prompts import ChatPromptTemplate
from langchain_core.pydantic_v1 import BaseModel, Field


class Table(BaseModel):
    """Table in SQL database."""

    name: str = Field(description="Name of table in SQL database.")


system = f"""Return the names of ALL the SQL tables that MIGHT be relevant to the user question. \
The tables details are:

{table_details}

Remember to include ALL POTENTIALLY RELEVANT tables, even if you're not sure that they're needed."""

prompt = ChatPromptTemplate.from_messages(
    [
        ("system", system),
        ("human", "{input}"),
    ]
)
llm_with_tools = llm.bind_tools([Table])
output_parser = PydanticToolsParser(tools=[Table])

table_chain = prompt | llm_with_tools | output_parser

table_chain.invoke({"input": "List the top 3 countries with the highest number of orders"})

[Table(name='orders'), Table(name='customers'), Table(name='employees')]

In [95]:

def get_tables(tables: List[Table]) -> List[str]:
    tables  = [table.name for table in tables]
    table_names = {}
    table_names["tables"] = tables
    return table_names

table_chain = {"input": itemgetter("question")} | prompt | llm_with_tools | output_parser| get_tables
select_table = table_chain.invoke({"question": "List the top 3 countries with the highest number of orders"})
select_table

{'tables': ['orders', 'customers', 'employees']}

In [96]:
def get_tables(tables: List[Table]) -> List[str]:
    tables  = [table.name for table in tables]
    table_names = {}
    table_names["tables"] = tables
    return table_names

select_table_chain = {"input": itemgetter("question")} | create_extraction_chain_pydantic(Table, llm, system_message=table_details_prompt) | get_tables
select_table = select_table_chain.invoke({"question": "List the top 3 countries with the highest number of orders"})
select_table

{'tables': ['productlines',
  'products',
  'offices',
  'employees',
  'customers',
  'payments',
  'orders',
  'orderdetails']}

#Enhancing Chatbots with Memory for Follow-up Database Queries

In [117]:
from langchain.memory import ChatMessageHistory
history = ChatMessageHistory()

In [118]:
final_prompt = ChatPromptTemplate.from_messages(
     [
         ("system", "You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.\nHere are the tables info : {table_info}\nHere are the tables that you can refer to : {selected_tables}\n\nBelow are a number of examples of questions and their corresponding SQL queries. Those examples are just for reference and should be considered while answering follow up questions"),
         few_shot_prompt,
         MessagesPlaceholder(variable_name="messages"),
         ("human", "{input}"),
     ]
     
 )

In [119]:

chain =(RunnablePassthrough.assign(selected_tables=table_chain)|
       RunnablePassthrough.assign(query=generate_query).assign(
        result=itemgetter("query") | execute_query_tool)) | rephrase_answer

In [120]:
history.messages

[]

In [121]:
def get_response(question):
    few_shot_prompt_generate_template(question)
    response = chain.invoke({"question": question,"messages":history.messages})
    history.add_user_message(question)
    history.add_ai_message(response)
    return response

In [122]:
response = get_response("How many customers with creditlimit > 50000")
response

'There are 85 customers with a credit limit greater than 50000.'

In [123]:
response = get_response("What are their names")
response

"The names of the customers with a credit limit greater than $50,000 are as follows:\n- Signal Gift Stores\n- Australian Collectors, Co.\n- La Rochelle Gifts\n- Baane Mini Imports\n- Mini Gifts Distributors Ltd.\n- Blauer See Auto, Co.\n- Mini Wheels Co.\n- Land of Toys Inc.\n- Euro+ Shopping Channel\n- Volvo Model Replicas, Co\n- Danish Wholesale Imports\n- Saveley & Henriot, Co.\n- Dragon Souveniers, Ltd.\n- Muscle Machine Inc\n- Diecast Classics Inc.\n- Technics Stores Inc.\n- Handji Gifts& Co\n- Herkku Gifts\n- Daedalus Designs Imports\n- La Corne D'abondance, Co.\n- Gift Depot Inc.\n- Osaka Souveniers Co.\n- Vitachrome Inc.\n- Toys of Finland, Co.\n- AV Stores, Co.\n- Clover Collections, Co.\n- UK Collectables, Ltd.\n- Canadian Gift Exchange Network\n- Online Mini Collectables\n- Toys4GrownUps.com\n- Mini Caravy\n- King Kong Collectables, Co.\n- Enaco Distributors\n- Heintze Collectables\n- Collectable Mini Designs Co.\n- giftsbymail.co.uk\n- Alpha Cognac\n- Amica Models & Co.\n- Lyon Souveniers\n- Auto Associs & Cie.\n- Toms Spezialitten, Ltd\n- Royal Canadian Collectables, Ltd.\n- Anna's Decorations, Ltd\n- Rovelli Gifts\n- Souveniers And Things Co.\n- Marta's Replicas Co.\n- Vida Sport, Ltd\n- Norway Gifts By Mail, Co.\n- Oulu Toy Supplies, Inc.\n- Petit Auto\n- Mini Classics\n- Mini Creations Ltd.\n- Corporate Gift Ideas Co.\n- Down Under Souveniers, Inc\n- Stylish Desk Decors, Co.\n- Australian Gift Network, Co\n- Suominen Souveniers\n- Classic Gift Ideas, Inc\n- CAF Imports\n- Men 'R' US Retailers, Ltd.\n- Marseille Mini Autos\n- Reims Collectables\n- GiftsForHim.com\n- Online Diecast Creations Co.\n- Collectables For Less Inc.\n- Salzburg Collectables\n- Cruz & Sons Co.\n- L'ordine Souveniers\n- Tokyo Collectables, Ltd\n- Auto Canal+ Petit\n- Extreme Desk Decorations, Ltd\n- Bavarian Collectables Imports, Co.\n- Classic Legends Inc.\n- Scandinavian Gift Ideas\n- The Sharp Gifts Warehouse\n- Super Scale Inc.\n- Corrida Auto Replicas, Ltd\n- FunGiftIdeas.com\n- Australian Collectables, Ltd\n- West Coast Collectables Co.\n- Iberia Gift Imports, Corp.\n- Motor Mint Distributors Inc.\n- Signal Collectibles Ltd.\n- Diecast Collectables\n- Kelly's Gift Shop"

In [124]:
response = get_response("What are their creditlimits")
response

"The credit limits of customers with credit limits greater than $50,000 are as follows:\n- Signal Gift Stores: $71,800.00\n- Australian Collectors, Co.: $117,300.00\n- La Rochelle Gifts: $118,200.00\n- Baane Mini Imports: $81,700.00\n- Mini Gifts Distributors Ltd.: $210,500.00\n- Blauer See Auto, Co.: $59,700.00\n- Mini Wheels Co.: $64,600.00\n- Land of Toys Inc.: $114,900.00\n- Euro+ Shopping Channel: $227,600.00\n- Volvo Model Replicas, Co: $53,100.00\n- Danish Wholesale Imports: $83,400.00\n- Saveley & Henriot, Co.: $123,900.00\n- Dragon Souveniers, Ltd.: $103,800.00\n- Muscle Machine Inc: $138,500.00\n- Diecast Classics Inc.: $100,600.00\n- Technics Stores Inc.: $84,600.00\n- Handji Gifts& Co: $97,900.00\n- Herkku Gifts: $96,800.00\n- Daedalus Designs Imports: $82,900.00\n- La Corne D'abondance, Co.: $84,300.00\n- Gift Depot Inc.: $84,300.00\n- Osaka Souveniers Co.: $81,200.00\n- Vitachrome Inc.: $76,400.00\n- Toys of Finland, Co.: $96,500.00\n- AV Stores, Co.: $136,800.00\n- Clover Collections, Co.: $69,400.00\n- UK Collectables, Ltd.: $92,700.00\n- Canadian Gift Exchange Network: $90,300.00\n- Online Mini Collectables: $68,700.00\n- Toys4GrownUps.com: $90,700.00\n- Mini Caravy: $53,800.00\n- King Kong Collectables, Co.: $58,600.00\n- Enaco Distributors: $60,300.00\n- Heintze Collectables: $120,800.00\n- Collectable Mini Designs Co.: $105,000.00\n- giftsbymail.co.uk: $93,900.00\n- Alpha Cognac: $61,100.00\n- Amica Models & Co.: $113,000.00\n- Lyon Souveniers: $68,100.00\n- Auto Associs & Cie.: $77,900.00\n- Toms Spezialitten, Ltd: $120,400.00\n- Royal Canadian Collectables, Ltd.: $89,600.00\n- Anna's Decorations, Ltd: $107,800.00\n- Rovelli Gifts: $119,600.00\n- Souveniers And Things Co.: $93,300.00\n- Marta's Replicas Co.: $123,700.00\n- Vida Sport, Ltd: $141,300.00\n- Norway Gifts By Mail, Co.: $95,100.00\n- Oulu Toy Supplies, Inc.: $90,500.00\n- Petit Auto: $79,900.00\n- Mini Classics: $102,700.00\n- Mini Creations Ltd.: $94,500.00\n- Corporate Gift Ideas Co.: $105,000.00\n- Down Under Souveniers, Inc: $88,000.00\n- Stylish Desk Decors, Co.: $77,000.00\n- Australian Gift Network, Co: $51,600.00\n- Suominen Souveniers: $98,800.00\n- Classic Gift Ideas, Inc: $81,100.00\n- CAF Imports: $59,600.00\n- Men 'R' US Retailers, Ltd.: $57,700.00\n- Marseille Mini Autos: $65,000.00\n- Reims Collectables: $81,100.00\n- GiftsForHim.com: $77,700.00\n- Online Diecast Creations Co.: $114,200.00\n- Collectables For Less Inc.: $70,700.00\n- Salzburg Collectables: $71,700.00\n- Cruz & Sons Co.: $81,500.00\n- L'ordine Souveniers: $121,400.00\n- Tokyo Collectables, Ltd: $94,400.00\n- Auto Canal+ Petit: $95,000.00\n- Extreme Desk Decorations, Ltd: $86,800.00\n- Bavarian Collectables Imports, Co.: $77,000.00\n- Classic Legends Inc.: $67,500.00\n- Scandinavian Gift Ideas: $116,400.00\n- The Sharp Gifts Warehouse: $77,600.00\n- Super Scale Inc.: $95,400.00\n- Corrida Auto Replicas, Ltd: $104,600.00\n- FunGiftIdeas.com: $85,800.00\n- Australian Collectables, Ltd: $60,300.00\n- West Coast Collectables Co.: $55,400.00\n- Iberia Gift Imports, Corp.: $65,700.00\n- Motor Mint Distributors Inc.: $72,600.00\n- Signal Collectibles Ltd.: $60,300.00\n- Diecast Collectables: $85,100.00\n- Kelly's Gift Shop: $110,000.00"

In [108]:
history.messages

[HumanMessage(content='How many customers with creditlimit > 50000'),
 AIMessage(content='There are 85 customers with a credit limit greater than 50000.'),
 HumanMessage(content='What are their names'),
 AIMessage(content="The names of the customers with a credit limit greater than $50,000 are as follows:\n- Signal Gift Stores\n- Australian Collectors, Co.\n- La Rochelle Gifts\n- Baane Mini Imports\n- Mini Gifts Distributors Ltd.\n- Blauer See Auto, Co.\n- Mini Wheels Co.\n- Land of Toys Inc.\n- Euro+ Shopping Channel\n- Volvo Model Replicas, Co\n- Danish Wholesale Imports\n- Saveley & Henriot, Co.\n- Dragon Souveniers, Ltd.\n- Muscle Machine Inc\n- Diecast Classics Inc.\n- Technics Stores Inc.\n- Handji Gifts& Co\n- Herkku Gifts\n- Daedalus Designs Imports\n- La Corne D'abondance, Co.\n- Gift Depot Inc.\n- Osaka Souveniers Co.\n- Vitachrome Inc.\n- Toys of Finland, Co.\n- AV Stores, Co.\n- Clover Collections, Co.\n- UK Collectables, Ltd.\n- Canadian Gift Exchange Network\n- Online Mini Collectables\n- Toys4GrownUps.com\n- Mini Caravy\n- King Kong Collectables, Co.\n- Enaco Distributors\n- Heintze Collectables\n- Collectable Mini Designs Co.\n- giftsbymail.co.uk\n- Alpha Cognac\n- Amica Models & Co.\n- Lyon Souveniers\n- Auto Associs & Cie.\n- Toms Spezialitten, Ltd\n- Royal Canadian Collectables, Ltd.\n- Anna's Decorations, Ltd\n- Rovelli Gifts\n- Souveniers And Things Co.\n- Marta's Replicas Co.\n- Vida Sport, Ltd\n- Norway Gifts By Mail, Co.\n- Oulu Toy Supplies, Inc.\n- Petit Auto\n- Mini Classics\n- Mini Creations Ltd.\n- Corporate Gift Ideas Co.\n- Down Under Souveniers, Inc\n- Stylish Desk Decors, Co.\n- Australian Gift Network, Co\n- Suominen Souveniers\n- Classic Gift Ideas, Inc\n- CAF Imports\n- Men 'R' US Retailers, Ltd.\n- Marseille Mini Autos\n- Reims Collectables\n- GiftsForHim.com\n- Online Diecast Creations Co.\n- Collectables For Less Inc.\n- Salzburg Collectables\n- Cruz & Sons Co.\n- L'ordine Souveniers\n- Tokyo Collectables, Ltd\n- Auto Canal+ Petit\n- Extreme Desk Decorations, Ltd\n- Bavarian Collectables Imports, Co.\n- Classic Legends Inc.\n- Scandinavian Gift Ideas\n- The Sharp Gifts Warehouse\n- Super Scale Inc.\n- Corrida Auto Replicas, Ltd\n- FunGiftIdeas.com\n- Australian Collectables, Ltd\n- West Coast Collectables Co.\n- Iberia Gift Imports, Corp.\n- Motor Mint Distributors Inc.\n- Signal Collectibles Ltd.\n- Diecast Collectables\n- Kelly's Gift Shop"),
 HumanMessage(content='What are their creditlimits'),
 AIMessage(content="The credit limits for customers with credit limits greater than $50,000 are as follows:\n- Signal Gift Stores: $71,800.00\n- Australian Collectors, Co.: $117,300.00\n- La Rochelle Gifts: $118,200.00\n- Baane Mini Imports: $81,700.00\n- Mini Gifts Distributors Ltd.: $210,500.00\n- Blauer See Auto, Co.: $59,700.00\n- Mini Wheels Co.: $64,600.00\n- Land of Toys Inc.: $114,900.00\n- Euro+ Shopping Channel: $227,600.00\n- Volvo Model Replicas, Co: $53,100.00\n- Danish Wholesale Imports: $83,400.00\n- Saveley & Henriot, Co.: $123,900.00\n- Dragon Souveniers, Ltd.: $103,800.00\n- Muscle Machine Inc: $138,500.00\n- Diecast Classics Inc.: $100,600.00\n- Technics Stores Inc.: $84,600.00\n- Handji Gifts& Co: $97,900.00\n- Herkku Gifts: $96,800.00\n- Daedalus Designs Imports: $82,900.00\n- La Corne D'abondance, Co.: $84,300.00\n- Gift Depot Inc.: $84,300.00\n- Osaka Souveniers Co.: $81,200.00\n- Vitachrome Inc.: $76,400.00\n- Toys of Finland, Co.: $96,500.00\n- AV Stores, Co.: $136,800.00\n- Clover Collections, Co.: $69,400.00\n- UK Collectables, Ltd.: $92,700.00\n- Canadian Gift Exchange Network: $90,300.00\n- Online Mini Collectables: $68,700.00\n- Toys4GrownUps.com: $90,700.00\n- Mini Caravy: $53,800.00\n- King Kong Collectables, Co.: $58,600.00\n- Enaco Distributors: $60,300.00\n- Heintze Collectables: $120,800.00\n- Collectable Mini Designs Co.: $105,000.00\n- giftsbymail.co.uk: $93,900.00\n- Alpha Cognac: $61,100.00\n- Amica Models & Co.: $113,000.00\n- Lyon Souveniers: $68,100.00\n- Auto Associs & Cie.: $77,900.00\n- Toms Spezialitten, Ltd: $120,400.00\n- Royal Canadian Collectables, Ltd.: $89,600.00\n- Anna's Decorations, Ltd: $107,800.00\n- Rovelli Gifts: $119,600.00\n- Souveniers And Things Co.: $93,300.00\n- Marta's Replicas Co.: $123,700.00\n- Vida Sport, Ltd: $141,300.00\n- Norway Gifts By Mail, Co.: $95,100.00\n- Oulu Toy Supplies, Inc.: $90,500.00\n- Petit Auto: $79,900.00\n- Mini Classics: $102,700.00\n- Mini Creations Ltd.: $94,500.00\n- Corporate Gift Ideas Co.: $105,000.00\n- Down Under Souveniers, Inc: $88,000.00\n- Stylish Desk Decors, Co.: $77,000.00\n- Australian Gift Network, Co: $51,600.00\n- Suominen Souveniers: $98,800.00\n- Classic Gift Ideas, Inc: $81,100.00\n- CAF Imports: $59,600.00\n- Men 'R' US Retailers, Ltd.: $57,700.00\n- Marseille Mini Autos: $65,000.00\n- Reims Collectables: $81,100.00\n- GiftsForHim.com: $77,700.00\n- Online Diecast Creations Co.: $114,200.00\n- Collectables For Less Inc.: $70,700.00\n- Salzburg Collectables: $71,700.00\n- Cruz & Sons Co.: $81,500.00\n- L'ordine Souveniers: $121,400.00\n- Tokyo Collectables, Ltd: $94,400.00\n- Auto Canal+ Petit: $95,000.00\n- Extreme Desk Decorations, Ltd: $86,800.00\n- Bavarian Collectables Imports, Co.: $77,000.00\n- Classic Legends Inc.: $67,500.00\n- Scandinavian Gift Ideas: $116,400.00\n- The Sharp Gifts Warehouse: $77,600.00\n- Super Scale Inc.: $95,400.00\n- Corrida Auto Replicas, Ltd: $104,600.00\n- FunGiftIdeas.com: $85,800.00\n- Australian Collectables, Ltd: $60,300.00\n- West Coast Collectables Co.: $55,400.00\n- Iberia Gift Imports, Corp.: $65,700.00\n- Motor Mint Distributors Inc.: $72,600.00\n- Signal Collectibles Ltd.: $60,300.00\n- Diecast Collectables: $85,100.00\n- Kelly's Gift Shop: $110,000.00")]